body {
    background-color: #f8f9fa;
  }
  
  .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  .card {
    border: none;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  
  
  .table th {
    font-weight: 600;
  }

  .logout-button {
    background-color: #e74c3c; /* Red background for logout */
    color: #fff; /* White text color */
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b; /* Darker red on hover */
    color: #fff;
}
  
  .bg-primary {
    background-color: #49494a !important;
  }
  
  .btn-primary {
    background-color: #3f3f40;
    border-color: #424243;
  }
  
  .btn-primary:hover {
    background-color: #2e59d9;
    border-color: #2e59d9;
  }
  
  .footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
  }