.card {
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   
  .card-header {
    background-color: #464444; /* Custom color for the header */
    border-bottom: none; /* Optional: removes the default border */
  }
   
  .form-group {
    margin-bottom: 15px; /* Adjusted spacing between form elements */
  }

  /* Ensure no underlines on links */
.nav-link {
  text-decoration: none;
}

/* Style the button as outlined */
.btn-outline-dark {
  color: rgb(84, 84, 84);
  border-color: rgb(84, 84, 84);
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: rgb(84, 84, 84);
  border-color: rgb(84, 84, 84);
}

/* Add padding and border radius */
.nav-link.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* Optional: Change button's color on hover */
.btn-outline-dark:focus, .btn-outline-dark:hover {
  color: #fff;
  background-color: rgb(84, 84, 84);
  border-color: rgb(84, 84, 84);
}

  
   
  .btn-primary {
    background-color: #464444; /* Button color */
    border-color: #464444;
    margin-top: 20px; /* Increased margin top for better spacing */
    padding: 10px 20px; /* Padding adjustment for button */
  }   
  .btn-primary:hover {
    background-color: #6c6a6a; /* Darker shade on hover */
    border-color:#6c6a6a;
  }
   
