.form-group{
    margin: 20px;
}

.btn-primary{
    margin-left: 20px;
}

.form-group label{
    margin-bottom: 8px;
}

.thin-line-bottom{
    border-bottom: 1px solid #ddd;
    margin: 20;
    
}
.logout-button {
    background-color: #e74c3c; /* Red background for logout */
    color: #fff; /* White text color */
    padding: 8px 16px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #c0392b; /* Darker red on hover */
    color: #fff;
  }
  

.form-control{
    height: 55px;
    background-color: #efefef;
    color: rgb(33, 37, 41);
}

.half-flex-grow{
    flex-grow: 0.5;
}