body {
    background-color: #f8f9fa;
  }
  
  .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  .card {
    border: none;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .logout-button {
    background-color: #e74c3c; /* Red background for logout */
    color: #fff; /* White text color */
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b; /* Darker red on hover */
    color: #fff;
}

  
  .bg-primary {
    background-color: #464444 !important;
  }
  
  .btn-primary {
    background-color: #464444;
    border-color: #464444;
  }
  
  .btn-primary:hover {
    background-color: #464444;
    border-color: #464444;
  }
  
  .form-label {
    font-weight: 600;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .alert {
    border-radius: 0;
  }
  
  @media (max-width: 768px) {
    .card-body {
      padding: 1.5rem;
    }
  }